button:not(:last-of-type) {
  margin-right: 10px;
}

button:first-of-type {
  color: green;
}

button:last-of-type {
  color: red;
}

button {
  text-transform: capitalize;
  font-weight: 700;
  padding: 15px 0;
  width: 80px;
  cursor: pointer;
  color: gold;
  background-color: aliceblue;
  outline: none;
  border: none;
  border-radius: 15%;
  transition: background-color, 250ms, cubic-bezier;
}

button:hover {
  background-color: darkgray;
}
